// font-family
$font-primary: "Noto Sans JP", sans-serif;
$font-arial: "Arial";

// colors
$color-primary: #009cd2;
$color-white: #FFFFFF;
$color-black: #000;

$c-orange: #F78029;
$c-drk-blue: #252879;
$c-yellow: #F3C335;
$c-yellow-lgt: rgba(243, 195, 53, 0.4);
$c-lgt-yellow: #FEEEC9;
$c-grey: #999999;
$c-grey2: #CCCCCC;
$c-lgt-blue: #E6EBF0;
$c-red: #D53900;
$c-drk-brown: #B95D1B;