*{
    box-sizing: border-box;
}

html {
    font-size: 10px;
    //for footer position bottom
    
    // height: 100%;
}

body {
    font-family: $font-primary;
    font-size: 1.6rem;
    font-weight: 400;
    color: $color-black;
    line-height: 1.42;
    background: $color-white;

    //for footer position bottom

    // display: flex;
    // flex-direction: column;
    // min-height: 100%;
}

.container {
    display: block;
    max-width: 100%;
    padding: 0 10px;
    margin: 0 auto;

    @include mq('phablet') {
        max-width: 576px;
    }
    
    @include mq('tablet') {
        max-width: 768px;
    }
    
    @include mq('bootstrap-lg') {
        max-width: 980px;
        padding: 0;
    }

    // @include mq('desktop') {
    //     max-width: 1200px;
    // }
    // @include mq('desktop-lg') {
    //     max-width: 1366px;
    // }
}

%reset-ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
