.heading-primary {
    color: $c-drk-blue;
    font-size: 2.2rem;
    font-weight: 700;
    letter-spacing: 0.1em;
    line-height: 1.4375;
    text-align: center;
    
    @include mq("phablet") {
        font-size: 2.45rem;
    }
    @include mq("tablet") {
        font-size: 2.7rem;
    }
    @include mq("bootstrap-lg") {
        font-size: 2.95rem;
    }
    @include mq("desktop") {
        font-size: 3.2rem;
    }

    span {
        color: $c-grey;
        font-family: "Arial";
        font-size: 1.4rem;
        letter-spacing: 0.05em;
        line-height: 1.2;
        margin-bottom: 6px;
        display: block;

        @include mq("tablet") {

        }
    }
}