.btn{
    &-wrap{
        background-color: #fff;
        padding: 14px 17px;

        @include mq("tablet"){
            padding: 20px 0;
        }
        @include mq("bootstrap-lg"){
            padding: 20px 25px;
        }
        @include mq("desktop"){
            padding: 20px 0;
        }
    }

    &-box{
        display: flex;
        align-items: center;
        gap: 5px;
        justify-content: center;

        @include mq("phablet"){
            gap: 17px;
        }
        // @include mq("tablet"){
        //     gap: 17px;
        // }
    }

    &-link{
        font-size: 18px;
        font-weight: 700;
        background-color: transparent;
        max-width: 116px;
        height: 40px;
        width: 100%;
        letter-spacing: 0.5px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #000;
        text-decoration: none;
        transition: all 0.25s ease;
        z-index: 1;
        position: relative;
        cursor: default;
        &::after{
            content: '';
            background-color: #F3C335;
            position: absolute;
            inset: 0;
            z-index: -1;
            transform: skewX(-15deg);
        }

        &:hover{
            // opacity: 0.8;
            color: #000;
        }

        @include mq("phablet"){
            max-width: 156px;
        }

        @include mq("tablet"){
            font-size: 20px;
            height: 63px;
            max-width: 230px;
        }
        @include mq("bootstrap-lg"){
            font-size: 22px;
            max-width: 325px;
        }
        
    }

}

.info{
    background-color: #E6EBF0;
    padding: 15px 0;

    @include mq("tablet"){
        padding: 30px 10px;    
    }
    @include mq("desktop"){
        padding: 30px 0;    
    }
    &-wrap{
        display: flex;
        gap: 10px;

        @include mq("tablet"){
            gap: 20px;
        }
    }

    &-btn{
        font-size: 16px;
        background-color: #fff;
        letter-spacing: 0.05em;
        font-weight: 700;
        line-height: 1.45;
        color: #000;
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 2px solid #F78029;
        border-radius: 5px;
        box-shadow: 0 8px 12px rgba(0,0,0,0.16);
        max-width: 480px;
        width: 100%;
        height: auto;
        position: relative;
        transition: all 0.25s ease;
        flex-direction: column;

        @include mq("tablet"){
            flex-direction: row;
            font-size: 20px;
            height: 70px;
        }

        @include mq("bootstrap-lg"){
            font-size: 22px;
        }

        span{

            &:first-of-type{
                flex-grow: 1;
                text-align: center;
                padding: 13px 0;

                @include mq("tablet"){
                    padding: 0;
                }
            }

            &:last-of-type{
                content: '';
                min-height: 25px;
                height: auto;
                width: 100%;
                background-color: #F78029; 
     
                @include mq("tablet"){
                 min-height: 66px;
                 height: 100%;
                 width: 66px;
                }
            }
        }


        &::before{
            content: '';
            height: 7px;
            width: 12px;
            background-image: url(.././img/arrow-down.svg);
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            position: absolute;
            right: 50%;
            bottom: 8px;
            transform: translateX(50%);

            @include mq("tablet"){
                height: 11px;
                width: 22px;
                right: 19px;
                top: 50%;
                transform: translateY(-50%);
            }
        }

        &:hover{
            opacity: 0.7;
        }
    }
}