.contact {
    &-comp {
        background-color: #F78029;
        border-radius: 10px;
        position: relative;
        max-width: 210px;
        padding: 18.5px 0;
        display: flex;
        text-decoration: none;
        box-shadow: 0 8px 12px rgba(0, 0, 0, 0.16);
        transition: opacity 0.25s ease;
        cursor: pointer;

        &:hover {
            opacity: 0.8;
        }

        @include mq("tablet") {
            max-width: 594px;
            display: block;
            width: 100%;
            margin-left: 15px;
            cursor: default;

            &:hover {
                opacity: 1;
            }
        }

        @include mq("bootstrap-lg") {
            margin-left: 0;
        }

        &::before {
            content: "";
            display: block;
            position: absolute;
            width: 100%;
            height: 100%;
            inset: 0;
            bottom: -5px;
            border-radius: 10px;
            box-shadow: 0 5px 0 $c-drk-brown;

            @include mq("tablet") {
                content: none;
            }
        }

        &::after {
            content: '';
            background-image: url(.././img/arrow-down.svg);
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            position: absolute;
            top: 50%;
            transform: translateY(-50%) rotate(-90deg);
            right: 12px;
            width: 7px;
            height: 4px;

            @include mq("tablet") {
                content: none;
            }
        }
    }

    &-flex {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        padding-right: 0;

        @include mq("tablet") {
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            padding-right: 41px;
        }
    }

    &-phone {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 5px;

        @include mq("tablet") {
            margin-bottom: 0;
        }

        &-txt {
            font-size: 14px;
            font-weight: 700;
            letter-spacing: 0.1em;
            line-height: 1.45;
            color: #fff;
            margin: 0 0 0 8px;

            @include mq("tablet") {
                font-size: 24px;
                margin: 0 33px 0 13px;
            }
        }

        img {
            max-width: 12px;
            width: 100%;

            @include mq("tablet") {
                max-width: 100%;
                width: auto;
            }
        }
    }

    &-num {
        font-size: 18px;
        font-weight: 700;
        line-height: 1;
        color: #fff;
        font-family: Arial, Helvetica, sans-serif;

        @include mq("tablet") {
            font-size: 46px;
            line-height: 1.2;
        }
    }
}

.polygon-red {
    background-image: url(.././img/polygon/Polygon-red-sm.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 40px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: static;
    margin: 0 12px;

    @include mq("tablet") {
        position: absolute;
        left: -10px;
        top: -20px;
        width: 73px;
        height: 83px;
        margin: 0;
    }

    span {
        font-size: 12px;
        font-weight: 700;
        line-height: 1.2;
        color: #fff;

        @include mq("tablet") {
            font-size: 18px;
            line-height: 1.27;
        }
    }
}