.cta {
    &-wrapper{
        background-image: url(.././img/cta/cta-bg-sp.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        padding: 30px 0 47px;

        @include mq("tablet"){
            padding: 65px 0 81px;
            background-image: url(.././img/cta/cta-bg.jpg);
        }

    }

    &-box {
        max-width: 813px;
        margin: 0 auto;
    }

    &-ttl {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 0;
        color: $c-yellow;
        font-weight: 700;

        @include mq("tablet"){
            flex-direction: row;
            gap: 7px;
        }

        &-fortytwo {
            font-size: 28px;

            @include mq("tablet"){
                font-size: 42px;
            }
        }

        &-thirtyfive {
            font-size: 23px;

            @include mq("tablet"){
                font-size: 35px;
            }
        }

        &-fortyfour {
            font-size: 29px;

            @include mq("tablet"){
                font-size: 44px;
            }
        }

        &-thirtysix {
            font-size: 24px;

            @include mq("tablet"){
                font-size: 36px;
            }
        }

        &-sub {
            font-size: 21px;
            font-weight: 700;
            letter-spacing: 0.1px;
            color: #fff;
            text-align: center;
            padding: 3px 0 26px;

            @include mq("tablet"){
                padding: 3px 0 35px;
            }
        }
    }

    &-offday{
        &.-left{
            flex: 0 0 100%;

            @include mq("tablet"){
                flex: 0 0 400px;
            }
            
        }
        &.-right{
            flex: 0 0 276px;

            span:first-of-type{
                background-color: $c-yellow;
            }
        }
        &-days{
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: flex-start;
            gap: 8px;
            // padding-left: 10px;

            @include mq("tablet"){
                // padding-left: 0;
                gap: 30px;
                justify-content: center;
            }
        }

        span{

            &:first-of-type{
                font-size: 11px; 
                font-weight: 700;
                letter-spacing: 0.1px;
                background-color: #fff;
                color: #000;
                max-width: 100px;
                width: 100%;
                height: 22px;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                margin-right: 10px;

                @include mq("tablet"){
                    font-size: 14px;  
                    max-width: 130px;
                    height: 26px;
                    
                }
            }

            &:last-of-type{
                font-size: 15px;
            color: #fff;
            letter-spacing: 0.1em;

                @include mq("tablet"){
                    font-size: 17px;
                }
            }
         }
    }

    .contact {
        &-comp {
            max-width: 800px;
            height: 120px;
            margin: 0 auto;
            padding: 20px 0 ;
            margin-bottom: 25px;
            border-radius: 20px;
            transition: opacity 0.25s ease;

            &:hover{
                opacity: 0.8;
            }

            @include mq("tablet"){
                border-radius: 10px;
                margin-bottom: 45px;
                padding: 27px 0 26px;
                max-width: 720px;
                display: block;

                &:hover{
                    opacity: 1;
                }
            }

            @include mq("bootstrap-lg"){
                max-width: 800px;
            }

            &::before {
                content: "";
                display: block;
                position: absolute;
                width: 100%;
                height: 100%;
                inset: 0;
                bottom: -5px;
                border-radius: 20px;
    
                box-shadow: 0 5px 0 $c-drk-brown;

                @include mq("tablet") {
                    content: none;
                }
            }

            &::after{
                content: '';
                background-image: url(.././img/arrow-down.svg);
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;
                position: absolute;
                top: 50%;
                transform: translateY(-50%) rotate(-90deg);
                right: 20px;
                width: 12px;
                height: 7px;

                @include mq("tablet"){
                    content: none;
                }
            }
        }

        &-flex {
            justify-content: center;
            padding-right: 0;
            flex-direction: column;

            @include mq("phablet"){
                flex-direction: row;
                align-items: center;
            }
        }

        &-phone {

            &-txt{
                font-size: 21px;
                margin: 0 0 0 13px;

                @include mq("tablet"){
                    font-size: 29px;
                    margin: 0 34px 0 18px;
                }
            }

            img{
                max-width: 20px;
                width: 100%;

                @include mq("tablet"){
                    max-width: 100%;
                    width: auto;
                }
            }
        }

        &-num {
            font-size: 32px;

            @include mq("phablet"){
                padding-left: 15px;
            }

            @include mq("tablet"){
                font-size: 50px;
                padding-left: 0;
            }
            @include mq("bootstrap-lg"){
                font-size: 56px;
            }
        }

    }

    .polygon-red {
        background-image: url(.././img/cta/polygon-cta.png);
        width: 68px;
        height: 78px;
        top: -27px;
        left: -13px;
        margin: 0 15px;

        @include mq("tablet"){
            width: 98px;
            height: 112px;
            margin: 0;
        }

        span {
            font-size: 18px;

            @include mq("tablet"){
                font-size: 25px;
            }
        }
    }
}