<!-- SCROLL-TO-TOP -->
<!-- Scroll to top code -->
<!-- FOOTER -->
<footer class="footer" id="footer">
        <div class="container">
                <div class="footer-top">
                        <a href="https://www.eastcl.com/lp/shimei/company/2009/" target="_blank" rel="noopener noreferrer">クリニック概要</a>
                        <a href="https://www.eastcl.com/lp/shimei/privacy/2009/" target="_blank" rel="noopener noreferrer">プライバシーポリシー</a>
                </div>
                <p class="footer-copyright">Copyright &copy;2023 イースト駅前クリニック All Rights Reserved.</p>
        </div>
</footer>

<a href="#about" class="floating-tab">
        <div class="floating-tab-top">
                <span>予約不要</span>
                <p class="floating-tab-text">ご相談はこちら</p>
        </div>
</a>

<a href="tel:03-3837-1880" class="floating-banner" id="js-fixedBottomNav">
        <div class="container">
                <div class="floating-banner-wrapper">
                        <div class="floating-banner-res">
                                <span>予約</span>
                                <span>不要</span>
                        </div>

                        <div class="floating-banner-contact">
                                <div class="floating-banner-contact-rgt">
                                        <img src="./assets/img/phone-icon.svg" alt="PHONE" class="img-fluid" width="18" height="18" loading="lazy">
                                        <p class="floating-banner-contact-text">電話相談</p>
                                </div>

                                <p class="floating-banner-contact-num">03-3837-1880</p>
                        </div>
                </div>
        </div>

</a>
<!-- JS -->
<script src="@@webRoot/assets/js/app.js"></script>
</body>

</html>