.about {
    padding: 40px 0;
    background-color: #E6EBF0;

    @include mq("tablet") {
        padding: 61px 0 70px;
    }

    .heading-primary {
        padding-bottom: 23px;

        @include mq("tablet") {
            padding-bottom: 40px;
        }
    }

    .cta .contact-comp {
        margin-bottom: 0;
    }

    &-wrap {
        display: flex;
        gap: 20px;
        margin-bottom: 20px;
        flex-direction: column;

        @include mq("tablet") {
            flex-direction: row;
            gap: 20px;
            margin-bottom: 47px;
        }

        @include mq("bootstrap-lg") {
            flex-direction: row;
            gap: 40px;
        }
    }

    &-content {
        table {
            // max-width: 565px;
            width: 100%;

            @include mq("tablet") {
                max-width: 400px;
                width: 100%;
            }

            @include mq("bootstrap-lg") {
                max-width: 565px;
                width: 100%;
            }

            tr {

                // &:not(:last-of-type) {
                //     border-bottom: 1px solid #ccc;
                // }
                &:not(:last-child) {
                    th {
                        border-bottom: 1px solid #fff;
                    }
                }

                &:not(:last-child) {
                    td {
                        border-bottom: 1px solid #ccc;

                    }
                }

                th {
                    font-size: 15px;
                    font-weight: 700;
                    letter-spacing: 0.05px;
                    width: 180px;
                    background-color: $c-drk-blue;
                    // line-height: 0.42;
                    padding:  0 15px;
                    vertical-align: middle;
                    color: #fff;
                    font-family: Arial, Helvetica, sans-serif;
                    text-align: left;



                    @include mq("tablet") {
                        font-size: 14px;
                        text-align: center;
                    }
                }

                td {
                    font-size: 14px;
                    line-height: 1.8;
                    letter-spacing: 0.1px;
                    background-color: #fff;
                    padding: 12px 18px 19px 22px;
                    width: 386px;


                    @include mq("tablet") {
                        padding: 15px;

                    }

                    @include mq("bootstrap-lg") {
                        padding: 15px 34px 15px 20px;
                    }

                }
            }
        }
    }

    &-map {
        width: 100%;

        @include mq("tablet") {
            width: 45%;
        }

        @include mq("bootstrap-lg") {
            width: 38.3%;
        }

        iframe {
            width: 100%;
            height: 200px;

            @include mq("tablet") {
                height: 100%;
                // width: initial;
            }
        }
    }
}