.faq{
    padding: 40px 0;

    @include mq("tablet"){
        padding: 60px 0 80px;  
    }

    .heading-primary{
        margin-bottom: 20px;

        @include mq("tablet"){
            margin-bottom: 32px;
        }
    }

    &-box{
        padding: 18px 16px;
        background-color: rgba(230,235,240,.5);

        @include mq("tablet"){
            padding: 45px 40px 36px 40px;
        }

        &:not(:last-of-type){
            margin-bottom: 20px;
        }
    }

    &-qsn,
    &-ans{
        display: flex;
    }

    &-qsn{
        border-bottom: 1px solid #ccc;
        padding-bottom: 16px;

        @include mq("tablet"){
            padding-bottom: 40px;
        }
    }

    &-ans{
        padding-top: 18px;
    }

    &-icon{
        font-size: 22px;
        font-weight: 700;
        font-family: Arial, Helvetica, sans-serif;
        line-height: 1.14;
        letter-spacing: 0.05px;
        margin-right: 10px;
        color: $c-drk-blue;
    }

    &-desc{
        font-size: 14px;

        @include mq("tablet"){
            font-size: 16px;
        }
    }

    &-txt{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 15px;
        font-weight: 700;
        line-height: 1.7;
        color: $c-drk-blue;
        letter-spacing: -0.5px;

        @include mq("tablet"){
            font-size: 18px;
        }
    }

    &-btn{
        font-size: 15px;
        letter-spacing: 0.1px;
        font-weight: 700;
        text-decoration: none;
        color: #000;
        max-width: 400px;
        height: 50px;
        width: 100%;
        border: 1px solid $c-orange;
        border-radius: 10px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        transition: all 0.25s ease;

        @include mq("tablet"){
            height: 60px; 
            font-size: 16px;
        }

        &:hover{
            opacity: 0.7;
        }

        &-box{
            text-align: center;
            margin-top: 20px;

            @include mq("tablet"){
                margin-top: 40px;
            }
        }
    }
}