.flow {
    padding: 40px 0 42px;
    
    @include mq("tablet") {
        padding: 60px 0 84px;
    }

    .heading-primary {
        margin-bottom: 21px;
        
        @include mq("tablet") {
            margin-bottom: 50px;
        }
    }

    &-row {
        display: flex;
        flex-direction: column;
        gap: 26px;
        
        @include mq("tablet") {
            flex-direction: row;
            gap: 20px;
        }

        &-wrapper {
            display: flex;
            gap: 20px;
            position: relative;

            @include mq("tablet") {
                display: block;
                width: calc(100% / 4);
                position: relative;
            }

            &:not(:last-of-type) {
                &::before {
                    content: "";
                    width: 1px;
                    height: calc(100% + 26px);
                    background-color: $c-grey2;
                    display: block;
                    position: absolute;
                    top: 0;
                    left: calc(33px / 2);
                    z-index: -1;

                    @include mq("tablet") {
                        content: none;
                    }
                }
            }
        }
    }

    &-box {
        position: relative;
        
        @include mq("tablet") {
            border-radius: 5px;
            min-height: 140px;
            display: flex;
            align-items: center;
            background-color: #E6EBF0;
            justify-content: center;
            text-align: center;
            margin-bottom: 20px;
        }

        &::after {
            @include mq("tablet") {
                content: '';
                width: 20px;
                height: 10px;
                background-image: url(.././img/arrow-right.svg);
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                position: absolute;
                right: -20px;
                top: 50%;
                transform: translateY(-50%);
            }
        }

        &.-noarrow {
            &::after {
                content: none;
            }
        }

    }

    &-txt {
        font-size: 1.6rem;
        line-height: 1.625;
        color: $c-drk-blue;
        font-weight: 700;
        letter-spacing: 0.1em;
        margin-bottom: 8px;
        
        @include mq("phablet") {
            font-size: 1.65rem;
        }
        @include mq("tablet") {
            line-height: 1.44;
            font-size: 1.7rem;
            margin-bottom: 0;
        }
        @include mq("bootstrap-lg") {
            font-size: 1.75rem;
        }
        @include mq("desktop") {
            font-size: 1.8rem;
        }
    }

    &-num {
        color: $c-drk-blue;
        font-size: 1.8rem;
        font-weight: 700;
        font-family: Arial, Helvetica, sans-serif;
        letter-spacing: 0.05px;
        width: 33px;
        height: 33px;
        background-color: $c-yellow;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
        line-height: 1;
        
        @include mq("tablet") {
            width: 40px;
            height: 40px;
            position: absolute;
            top: -20px;
            left: 50%;
            transform: translateX(-50%);
            z-index: 1;
        }
    }

    &-ttl {
        font-size: 1.4rem;
        font-weight: 700;
        letter-spacing: 0.1px;
        line-height: 1.6;
        color: #000;
        margin-bottom: 8px;
        
        @include mq("tablet") {
            text-align: center;
        }
    }
    
    &-detail {
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 0.1px;
        line-height: 1.6;

        @include mq("tablet") {
            text-align: center;
        }
    }
}