.hero{
    background-image: url(.././img/hero/hero-sp.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 30px 0 18px;

    .container{
        position: relative;
    }

    // &-wrapper{
    //     position: absolute;
    //     left: 42%;
    //     top: 50%;
    //     transform: translate(-50%,-50%);
    // }

    @include mq("tablet"){
        padding: 60px 0;
        background-image: url(.././img/hero/hero-pc.jpg);    
    }

    @include mq("bootstrap-lg"){
        padding: 60px 0 60px 25px; 
    }

    @include mq("desktop"){
           padding: 60px 0; 
    }

    @media screen and (min-width:1600px){
        height: 550px;
        display: flex;
        align-items: center;
    }
   

    &-txt{
        margin-bottom: 20px;

        @include mq("tablet"){
            margin-bottom: 40.4px;
        }

        img{
            max-width: 217px;
            width: 100%;

            @include mq("tablet"){
                max-width: 100%;
                width: auto;
            }
        }
    }
}