.profile {
    background-image: url(.././img/profile/profile-bg-sp.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 40px 5px 40px;

    @include mq('tablet') {
        background-image: url(.././img/profile/profile-bg.jpg);
        padding: 60px 0 80px;
    }

    .heading-primary {
        margin-bottom: 25px;

        @include mq("tablet") {
            margin-bottom: 35px;
        }
    }

    &-ttl {
        font-size: 16px;
        font-weight: 700;
        letter-spacing: 0.1em;
        line-height: 1.8;
        color: #fff;
        text-align: center;

        @include mq('phaablet') {
            font-size: 18px;
        }

        @include mq('tablet') {
            font-size: 20px;
        }

        @include mq('bootstrap-lg') {
            font-size: 23px;
        }

        span {
            display: inline-block;
            font-size: 22px;
            margin-left: 12px;

            @include mq('phablet') {
                font-size: 24px;
            }


            @include mq('bootstrap-lg') {
                font-size: 32px;
                display: block;
                margin-left: 0;
            }
        }
    }

    &-wrap {
        display: flex;
        flex-direction: column;

        @include mq('bootstrap-lg') {
            flex-direction: row;
        }




    }

    &-person {
        line-height: 3;
        max-width: 103px;

        @include mq('bootstrap-lg') {
            line-height: 0;
            max-width: 100%;

        }
    }

    &-left {
        display: flex;
        align-items: center;
        justify-content: unset;
        background-color: $c-drk-blue;
        padding-left: 10px;
        max-width: 100%;
        height: 90px;

        @include mq('phablet') {
            justify-content: center;
        }

        @include mq('bootstrap-lg') {
            max-width: 440px;
            flex: 0 0 440px;
            justify-content: flex-start;
            height: auto;
        }


    }

    &-right {
        background-color: #fff;
        // padding: 32px 52px 40px 40px;
        flex: 1 0 100%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        padding: 23px;

        @include mq('phablet') {
            align-items: baseline;
        }

        @include mq('bootstrap-lg') {
            flex: 1 0 auto;
            // display: flex;
            align-items: unset;
            padding: 0 0 0 40px;
        }

        @include mq('bootstrap-lg') {}
    }

    &-txt {
        font-size: 13px;
        letter-spacing: 0.1em;
        // line-height: 2.4;
        display: flex;

        @include mq('tablet') {
            font-size: 16px;
            letter-spacing: 0.1em;
            // line-height: 2.4;
        }

        &:not(:last-child){
            margin-bottom: 15px;
        }

        span {
            &:first-of-type {
                margin-right: 31px;
            }

            // &.lh{
            //     line-height: 1.5;
            // }
            // &:last-of-type {
            //     line-height: 1.5;
            // }
        }
    }
}