.cost {
    background-color: $c-lgt-blue;
    padding: 30px 0 40px;
    
    @include mq("tablet") {
        padding: 60px 0 90px;
    }
}

.inspection {
    margin-bottom: 40px;
    
    @include mq("tablet") {
        margin-bottom: 60px;
    }

    .heading-primary {
        margin-bottom: 22px;
        
        @include mq("tablet") {
            margin-bottom: 36px;
        }
    }

    &-table {
        display: flex;
        flex-direction: column;
        // justify-content: center;
        // align-items: flex-start;
        // gap: 20px;
        
        @include mq("tablet") {
            flex-direction: row;
            margin: 0 -5px;
        }
        @include mq("desktop") {
            flex-direction: row;
            margin: 0 -10px;
        }

        &-wrapper {

            &:last-of-type {
                table {
                    tr {
                        td {
                            &:first-child {
                                @include mq("tablet", "max") {
                                    border-bottom: none;
                                }
                            }
                            &:last-child {
                                @include mq("tablet", "max") {
                                    border-bottom: none;
                                }
                            }
                        }
                    }
                }
            }
            
            @include mq("tablet") {
                flex: 0 0 calc(100% / 2);
                padding: 0 5px;
            }
            @include mq("desktop") {
                padding: 0 10px;
            }

            table {
                width: 100%;
                tr {
                    &:not(:last-of-type) {
                        td {
                            &:first-of-type {
                                border-bottom: 1px solid $color-white;
                            }
                            &:last-of-type {
                                border-bottom: 1px solid $c-grey2;
                            }
                        }
                    }

                    td {
                        font-size: 1.5rem;
                        font-weight: 700;
                        letter-spacing: 0.05em;
                        line-height: 1.44;
                        vertical-align: middle;

                        @include mq("phablet") {
                            font-size: 1.575rem;
                        }
                        @include mq("tablet") {
                            font-size: 1.65rem;
                        }
                        @include mq("bootstrap-lg") {
                            font-size: 1.725rem;
                        }
                        @include mq("desktop") {
                            font-size: 1.8rem;
                        }
                        
                        &:first-child {
                            background-color: $c-drk-blue;
                            color: $color-white;
                            padding: 14px 16px 13px 15px;
                            width: 72.4%;
                            
                            @include mq("tablet") {
                                padding: 16px 19px 16px 20px;
                                width: 70.8%;
                            }

                            @include mq("tablet", "max") {
                                border-bottom: 1px solid $color-white;
                            }
                        }
                        
                        &:last-child {
                            background-color: $color-white;
                            color: $c-drk-blue;
                            padding: 0 13px 0 10px;
                            font-size: 1.4rem;
                            letter-spacing: 0.1em;
                            width: 27.6%;
                            text-align: right;
                            
                            @include mq("phablet") {
                                font-size: 1.5rem;
                            }
                            @include mq("tablet") {
                                width: 29.2%;
                                font-size: 1.6rem;
                                padding: 0 30px 0 20px;
                            }
                            @include mq("bootstrap-lg") {
                                font-size: 1.7rem;
                                padding: 0 30px 0 20px;
                            }
                            @include mq("desktop") {
                                font-size: 1.8rem;
                                padding: 0 30px 0 20px;
                            }

                            @include mq("tablet", "max") {
                                border-bottom: 1px solid $c-grey2;
                            }
                        }
                    }
                }
            }
        }
    }
}

.medicine {

    .heading-primary {
        margin-bottom: 21px;
        
        @include mq("tablet") {
            margin-bottom: 35px;
        }
    }

    &-wrapper {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        
        @include mq("tablet") {
            gap: 20px;
        }
    }

    &-card {
        display: flex;
        width: 100%;
        // border-radius: 5px;
        // overflow: hidden;
        
        @include mq("tablet") {
            flex: 0 0 calc(100% / 4 - 15px);
            flex-direction: column;
        }

        &-top {
            background-color: $color-white;
            height: 100%;
            display: flex;
            padding: 0 8px;
            align-items: center;
            justify-content: center;
            border-radius: 5px 0 0 5px;
            flex-grow: 1;
            
            @include mq("tablet") {
                flex-grow: 0;
                height: 90px;
                border-radius: 5px 5px 0 0;
            }
        }

        &-bot {
            background-color: $c-drk-blue;
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 15px 10px 22px;
            border-radius: 0 5px 5px 0;
            flex: 0 0 60.567%;
            
            @include mq("tablet") {
                flex-grow: 1;
                border-radius: 0 0 5px 5px;
            }
        }

        &-ttl {
            color: $c-drk-blue;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            font-size: 1.4rem;
            font-weight: 700;
            letter-spacing: 0.1em;
            line-height: 1.44;
            text-align: center;
            
            margin-bottom: 2px;
            
            @include mq("phablet") {
                font-size: 1.5rem;
            }
            @include mq("tablet") {
                margin-bottom: 4px;
                font-size: 1.6rem;
            }
            @include mq("bootstrap-lg") {
                font-size: 1.7rem;
            }
            @include mq("desktop") {
                font-size: 1.8rem;
            }

            // &.-fs-md-20 {
                
            //     @include mq("tablet") {
            //         font-size: 1.8rem;
            //     }
            // }

            span {
                &.-fs-sm {
                    font-size: 1rem;
                    letter-spacing: 0.08em;

                    @include mq("phablet") {
                        font-size: 1.05rem;
                    }
                    @include mq("tablet") {
                        font-size: 1.1rem;
                    }
                    @include mq("bootstrap-lg") {
                        font-size: 1.15rem;
                    }
                    @include mq("desktop") {
                        font-size: 1.2rem;
                    }
                }
            }

            &.-f-wht {
                color: $color-white;
            }
        }

        &-price {
            color: $c-yellow;
            font-family: "Arial";
            font-size: 2.2rem;
            font-weight: 700;
            line-height: 1.26;
            text-align: center;
            
            @include mq("phablet") {
                font-size: 2.4rem;
            }
            @include mq("tablet") {
                font-size: 2.6rem;
            }
            @include mq("bootstrap-lg") {
                font-size: 2.8rem;
            }
            @include mq("desktop") {
                font-size: 3rem;
            }

            // &.-fs-38 {
            //     @include mq("tablet") {
            //         font-size: 3.8rem;
            //     }
            // }
        }
    }
}