.floating {
    &-tab {
        display: none;
        text-decoration: none;

        position: fixed;
        bottom: 40px;
        right: -3px;
        z-index: 10;

        @include mq("tablet") {
            display: flex;
            flex-direction: column;
            border: 2px solid $c-orange;
            border-radius: 5px 0 0 5px;
            overflow: hidden;
            transition: opacity 0.25s ease;
        }

        &:hover {
            opacity: 0.8;
        }

        &-top {
            background-color: $color-white;
            padding: 20px 15px 12px;
            text-align: center;

            span {
                width: 100%;
                height: 40px;
                background-image: url(../img/flaoting-tab-reservation-bg.svg);
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                color: $color-white;
                display: inline-flex;
                justify-content: center;
                align-items: center;
                position: relative;
                margin-bottom: 8px;
            }
        }

        &-text {
            color: $c-orange;
            font-size: 2.2rem;
            font-weight: 700;
            letter-spacing: 0.1em;
            line-height: 1.1;
        }

        &::before,
        &::after {
            content: "";
        }

        &::before {
            display: block;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 9.3px 9px 0 9px;
            border-color: #ffffff transparent transparent transparent;
            position: absolute;
            left: 50%;
            bottom: 10px;
            transform: translateX(-50%);
        }

        &::after {
            width: 100%;
            height: 30px;
            background-color: $c-orange;
        }

    }

    &-banner {
        display: block;
        background-color: $c-orange;
        text-decoration: none;
        padding: 6px 0;
        // transition: opacity 0.25s ease;
        position: fixed;
        z-index: 13;
        bottom: 0;
        width: 100%;
        // transition: bottom 0.25s ease;
        
        // &.scroll-show {
        //     bottom: 0;
        //     transition: bottom 0.25s ease;
        // }

        @include mq("tablet") {
            display: none;
        }
        // &:hover {
        //     opacity: 0.8;
        // }

        &-wrapper {
            display: flex;
            align-items: center;
            justify-content: space-between;

            @include mq("phablet") {
                justify-content: center;
                gap: 20px;
            }

            &::after {
                content: "";
                display: block;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 4px 0 4px 5px;
                border-color: transparent transparent transparent $color-white;
            }
        }

        &-res {
            background-image: url(.././img/cta/polygon-cta.png);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 42px;
            aspect-ratio: 42 / 48;
            padding: 8px 9px 9px;
            color: $color-white;
            font-size: 1.2rem;
            font-weight: 700;
            line-height: 1.166;
        }

        &-contact {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;

            &-rgt {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 8px;
            }

            &-text {
                color: $color-white;
                font-size: 2rem;
                font-weight: 700;
                letter-spacing: 0.1em;
                line-height: 1.3;
            }

            &-num {
                color: $color-white;
                font-size: 2.2rem;
                font-weight: 700;
                line-height: 1.18;
            }
        }
    }
}