.footer {
    padding: 27px 0;
    background-color: #000;
    color: #fff;

    @include mq("tablet"){
        padding: 55px 0;   
    }

    &-top{
        text-align: center;
        a{
            font-size: 12px;
            font-weight: 500;
            letter-spacing: 0.1px;
            line-height: 1.2;
            border-bottom: 1px solid #fff;
            display: inline-block;
            padding-bottom: 7px;
            color: #fff;
            text-decoration: none;
            transition: all 0.25s ease;

            @include mq("tablet"){
                font-size: 16px; 
            }

            &:first-of-type{
                margin-right: 22px;

                @include mq("tablet"){
                    margin-right: 32px;
                }
            }

            &:hover{
                opacity: 0.8;
            }
        }
    }

    &-copyright{
        font-size: 10px;
        line-height: 1.5;
        letter-spacing: 0.05px;
        color: #fff;
        text-align: center;
        margin-top: 15px;
        font-weight: 500;

        @include mq("tablet"){
            font-size: 13px;
            margin-top: 20px;
        }
    }
}
