.header{

    .container{
        padding: 0;
    }

    &-logo{
        max-width: 123px;

        @include mq("tablet"){
            max-width: 201px;
        }
    }

    &-flex{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 12px 20px 12px 15px;

        @include mq("tablet"){
            justify-content: flex-start;
            padding: 11px 0 14px;
        }
    }

    &-ttl{
        font-size: 16px;
        font-weight: 700;
        letter-spacing: 0.1em;
        margin-left: 27px; 
        border-top: 1px solid #000; 
        border-bottom: 1px solid #000; 
        padding: 2px 0 6px;
        line-height: 1.43;

        @include mq("tablet"){
            font-size: 21px;
            padding: 4px 0 10.3px;
        }
    }

    &-tagline{
        font-size: 2rem;
        font-weight: 700;
        color: #fff;
        letter-spacing: 0.1em;

        @include mq("tablet"){
            font-size: 2.6rem;
        }

            &-box{
                background-image: url(.././img/header-bg-sp.png);
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                padding: 10px 0 13px 26px;

                @include mq("tablet"){
                    background-image: url(.././img/header-bg.jpg);
                }

                .container{
                    position: relative;

                    @media only screen and  (min-width: 1400px){
                        position: static;
                    }
                }

                @media only screen and  (min-width: 1400px){
                    position: relative;
                }
            }
    }

    &-polygon{
        position: absolute;
        right: 14px;
        top: -17px;
        background-image: url(.././img/polygon/Polygon-1.png);
        background-position: center;
        background-size: contain;
        width: 76px;
        height: 87px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        span{
            &:first-of-type{
                font-size: 20px;
                font-weight: 700;
                // line-height: 1.46;
                color: #252879;

                @include mq("tablet"){
                    font-size: 30px;
                }
            }
            &:last-of-type{
                font-size: 10px;
                font-weight: 700;
                line-height: 1.42;
                
                @include mq("tablet"){
                    font-size: 14px;
                }
            }
        }

        @include mq("tablet"){
            width: 112px;
            height: 128px;
            right: 21px;
            top: -21px;
        }

        @media only screen and (min-width: 1400px){
            right: 215px;
            top: -16px;
        }
    }
}