.reasons {
    background-color: $c-lgt-yellow;
    padding: 0 0 40px;
    position: relative;
    
    @include mq("tablet") {
        padding: 0 0 80px;
    }

    &-banner {
        background-image: url(../img/reason/reason-banner-bg-sp.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        padding: 40px 0 0;
        margin-bottom: 13px;
        position: relative;
        isolation: isolate;
        
        @include mq("bootstrap-lg") {
            background-size: cover;
        }
        
        @include mq("tablet") {
            background-image: url(../img/reason/reason-banner-bg-pc.svg);
            margin-bottom: 60px;
        }

        &-dis {
            
            @include mq("tablet", "max") {
                position: absolute;
                bottom: -19px;
                right: 10px;
                width: 115px;
                z-index: 1;
            }
            @include mq("phablet", "max") {
                width: 95px;
            }
        }
        
        &-wrapper {
            padding-bottom: 26px;
            
            @include mq("tablet") {
                padding-bottom: 35px;
                position: relative;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                gap: 31px;
                isolation: isolate;
            }
        }

        &-cnt {
            margin-left: 12px;

            @include mq("tablet"){
                margin-left: 0;
            }
            img {
                margin-bottom: 14px;

                @include mq("tablet", "max") {
                    margin-bottom: 0;
                    width: 306px;
                }
                @include mq("phablet", "max") {
                    width: 206px;
                }
            }

            &-txt {
                font-size: 1.2rem;
                line-height: 1;

                &.-sp{
                    margin-bottom: 20px;
                    font-size: 1rem;
                    line-height: 1.5;
                    text-align: center;
                }
            }
        }

        &-people {
            position: absolute;
            bottom: 0;
            right: -52px;
            z-index: -1;

            // @include mq("bootstrap-lg", "max") {
            //     right: -16px;
            // }
            @include mq("desktop", "max") {
                right: 0;
            }
            
            @include mq("tablet", "max") {
                width: 238px;
                right: 0;
            }
            @include mq("phablet", "max") {
                width: 148px;
                right: 0;
            }

           

           

            img {
                display: block;
            }
        }
    }

    &-row {
        position: relative;

        @include mq("tablet") {
            max-width: 768px;
            margin: 0 auto;
        }

        @include mq("bootstrap-lg") {
            max-width: 980px;
        }

        &:not(:last-of-type) {
            margin-bottom: 30px;

            @include mq("tablet") {
                margin-bottom: 60px;
            }
        }

        &:nth-of-type(odd) {
            .reasons {
                &-img {
                    margin-left: auto;
                }

                &-info {
                    align-items: flex-start;

                    @include mq("tablet") {
                        left: 0;
                    }
                }

                &-card {
                    border-right: 5px solid $c-orange;
                }
            }
        }

        &:nth-of-type(even) {
            .reasons {
                &-img {
                    margin-right: auto;
                }

                &-info {
                    right: 0;
                    align-items: flex-end;

                    margin-left: auto;
                }

                &-card {
                    border-left: 5px solid $c-orange;
                }
            }
        }
    }

    &-img {
        max-width: calc(100% - 30px);

        @include mq("tablet") {
            width: fit-content;
            max-width: 100%;
        }

        img {
            display: block;
            height: 160px;
            object-fit: cover;

            @include mq("phablet") {
                width: 100%;
                height: 320px;
            }
        }
    }

    &-info {
        max-width: 475px;
        width: 100%;
        display: flex;
        flex-direction: column;
        
        @include mq("tablet") {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        }
        
        &.-lg {
            max-width: 505px;
            width: calc(100% - 30px);
        }
        
        @include mq("tablet", "max") {
            margin-top: -62px;
            max-width: 475px;;
            width: calc(100% - 30px);
        }
    }

    &-label {
        display: inline-block;
        padding: 6px 12px 7px;
        font-family: $font-arial;
        background-color: $c-orange;
        color: $color-white;
        font-size: 1.4rem;
        font-weight: 700;
        letter-spacing: 0.05em;
        line-height: 1.25;

        @include mq("tablet") {
            padding: 10px 20px 9px;
            font-size: 2rem;
        }
    }

    &-card {
        background-color: $color-white;
        width: 100%;
        padding: 24px 19px 26px 26px;

        @include mq("tablet") {
            padding: 37px 50px;
        }

        &-heading {
            color: $c-orange;
            font-size: 2.4rem;
            font-weight: 700;
            letter-spacing: 0.1em;
            line-height: 1.44;
            margin-bottom: 8px;

            @include mq("tablet") {
                font-size: 3.8rem;
                margin-bottom: 18px;
            }

            span {
                display: inline-block;
                position: relative;
                isolation: isolate;

                &::after {
                    content: "";
                    width: 100%;
                    height: 16px;
                    background-color: $c-yellow-lgt;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    z-index: -1;
                }
            }
        }

        &-info {
            font-size: 1.4rem;
            letter-spacing: 0.1em;
            line-height: 1.57;

            @include mq("tablet") {
                font-size: 1.8rem;
                line-height: 1.77;
            }
        }
    }


}