@@include('@@webRoot/parts/header.html')

<!-- hero -->
<div class="hero">
    <div class="container">
        <div class="hero-wrapper">
            <div class="hero-txt">
                <picture class="hero__details">
                    <source media="(max-width: 767px)" srcset="@@webRoot/assets/img/hero/hero-txt-sp.svg">
                    <img src="@@webRoot/assets/img/hero/hero-txt-pc.svg" alt="突然の性病の不安に気軽に通えるクリニック" class="img-fluid"width="638" height="160" loading="lazy" />
                </picture>
            </div>
            <a href="tel:03-3837-1880" class="contact-comp">
                <div class="polygon-red">
                    <span>予約</span>
                    <span>不要</span>
                </div>
                <div class="contact-flex">
                    <div class="contact-phone">
                        <img src="@@webRoot/assets/img/phone-icon.svg" class="img-fluid" height="24" width="24" alt="phone"
                            loading="lazy">
                        <p class="contact-phone-txt">電話相談</p>
                    </div>
                    <p class="contact-num">03-3837-1880</p>
                </div>
            </a>
        </div>
    </div>
</div>

<main id="main">
    <div class="btn-wrap">
        <div class="container">
            <div class="btn-box">
                <div class="btn-link">予約不要</div>
                <div class="btn-link">即日検査</div>
                <div class="btn-link">即日治療</div>
            </div>
        </div>
    </div>

    <div class="info">
        <div class="container">
            <div class="info-wrap">
                <a href="#medicine" class="info-btn"><span>お薬の紹介・<br class="d-block d-md-none">価格はこちら</span><span></span></a>
                <a href="#about" class="info-btn"><span>クリニック<br class="d-block d-md-none">紹介はこちら</span><span></span></a>
            </div>
        </div>
    </div>

    <!-- CTA -->
    <div class="cta">
        <div class="cta-wrapper">
            <div class="container">
                <div class="cta-box">
                    <div class="cta-ttl">
                        <p class="cta-ttl-left">
                            <span class="cta-ttl-fortytwo">診療</span>
                            <span class="cta-ttl-thirtyfive">や</span>
                            <span class="cta-ttl-fortytwo">治療</span>
                            <span class="cta-ttl-thirtyfive">に関する</span><br class="d-block d-md-none">
                        </p>
                        <p class="cta-ttl-right">
                            <span class="cta-ttl-fortyfour">ご不安な事</span>
                            <span class="cta-ttl-thirtysix">など</span>
                        </p>
                    </div>
                    <p class="cta-ttl-sub">ご相談ください</p>
                    <a href="tel:03-3837-1880" class="contact-comp">
                        <div class="polygon-red">
                            <span>予約</span>
                            <span>不要</span>
                        </div>
                        <div class="contact-flex">
                            <div class="contact-phone">
                                <img src="@@webRoot/assets/img/phone-icon.svg" class="img-fluid" height="29" width="29"
                                    alt="phone" loading="lazy">
                                <p class="contact-phone-txt">電話相談</p>
                            </div>
                            <p class="contact-num">03-3837-1880</p>
                        </div>
                    </a>
                    <div class="cta-offday-days">
                        <p class="cta-offday -left">
                            <span>月・火・金曜日</span>
                            <span>10:00～13:30/15:30～19:00</span>
                        </p>
                        <p class="cta-offday -right">
                            <span>日曜日</span>
                            <span>10:00 ～ 17:00</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- cost -->
    <div class="cost">
        <div class="container">
            <div class="inspection" id="inspection">
                <h2 class="heading-primary"><span>Inspection Fee</span>検査費用</h2>

                <div class="inspection-table">
                    <div class="inspection-table-wrapper">
                        <table>
                            <tbody>
                                <tr>
                                    <td>淋病（尿）</td>
                                    <td>¥8,000</td>
                                </tr>
                                <tr>
                                    <td>クラミジア（尿）</td>
                                    <td>¥8,000</td>
                                </tr>
                                <tr>
                                    <td>淋病（のど）</td>
                                    <td>¥8,000</td>
                                </tr>
                                <tr>
                                    <td>クラミジア（のど）</td>
                                    <td>¥8,000</td>
                                </tr>
                                <tr>
                                    <td>淋病、クラミジア（尿）</td>
                                    <td>¥10,000</td>
                                </tr>
                                <tr>
                                    <td>淋病、クラミジア（のど）</td>
                                    <td>¥10,000</td>
                                </tr>
                                <tr>
                                    <td>淋病、クラミジア、マイコプラズマ（のど）</td>
                                    <td>¥14,000</td>
                                </tr>
                                <tr>
                                    <td>淋病、クラミジア（尿、のど）</td>
                                    <td>¥14,000</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="inspection-table-wrapper">
                        <table>
                            <tbody>
                                <tr>
                                    <td>淋病、クラミジア（尿、のど）、マイコプラズマ、梅毒、HIV、B/C肝炎セット</td>
                                    <td>¥25,000</td>
                                </tr>
                                <tr>
                                    <td>HIV</td>
                                    <td>¥8,000</td>
                                </tr>
                                <tr>
                                    <td>梅毒</td>
                                    <td><span>¥6,000</span></td>
                                </tr>
                                <tr>
                                    <td>マイコプラズマ（性器、のど）</td>
                                    <td><span>¥12,000</span></td>
                                </tr>
                                <tr>
                                    <td>C型肝炎</td>
                                    <td><span>¥6,000</span></td>
                                </tr>
                                <tr>
                                    <td>B型肝炎</td>
                                    <td><span>¥6,000</span></td>
                                </tr>
                                <tr>
                                    <td>HIV、梅毒、B/C型肝炎セット</td>
                                    <td>¥20,000</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="medicine" id="medicine">
                <h2 class="heading-primary"><span>Medicine</span>お薬の紹介・価格</h2>

                <div class="medicine-wrapper">
                    <div class="medicine-card">
                        <div class="medicine-card-top">
                            <p class="medicine-card-ttl">淋病<span>（のど、性器）</span></p>
                        </div>
                        <div class="medicine-card-bot">
                            <p class="medicine-card-ttl -f-wht">点滴/注射</p>
                            <p class="medicine-card-price">¥8,000 〜 ¥10,000</p>
                        </div>
                    </div>

                    <div class="medicine-card">
                        <div class="medicine-card-top">
                            <p class="medicine-card-ttl">クラミジア<span>（のど、性器）</span></p>
                        </div>
                        <div class="medicine-card-bot">
                            <p class="medicine-card-ttl -f-wht">飲み薬</p>
                            <p class="medicine-card-price">¥8,000 〜 ¥10,000</p>
                        </div>
                    </div>

                    <div class="medicine-card">
                        <div class="medicine-card-top">
                            <p class="medicine-card-ttl">ヘルペス<span>（のど、性器）</span></p>
                        </div>
                        <div class="medicine-card-bot">
                            <p class="medicine-card-ttl -f-wht">飲み薬</p>
                            <p class="medicine-card-price">¥8,000 〜 ¥10,000</p>
                        </div>
                    </div>

                    <div class="medicine-card">
                        <div class="medicine-card-top">
                            <p class="medicine-card-ttl -fs-md-20">マイコ<br class="d-md-none">プラズマ</p>
                        </div>
                        <div class="medicine-card-bot">
                            <p class="medicine-card-ttl -f-wht">飲み薬</p>
                            <p class="medicine-card-price -fs-38">¥10,000</p>
                        </div>
                    </div>

                    <div class="medicine-card">
                        <div class="medicine-card-top">
                            <p class="medicine-card-ttl">尖圭コンジローマ<span class="-fs-sm">（塗り薬2週間〜4週間 + 液体窒素）</span></p>
                        </div>
                        <div class="medicine-card-bot">
                            <p class="medicine-card-ttl -f-wht">塗り薬 + 液体窒素</p>
                            <p class="medicine-card-price">¥10,000 〜 ¥38,000</p>
                        </div>
                    </div>

                    <div class="medicine-card">
                        <div class="medicine-card-top">
                            <p class="medicine-card-ttl">ケジラミ</p>
                        </div>
                        <div class="medicine-card-bot">
                            <p class="medicine-card-ttl -f-wht">塗り薬</p>
                            <p class="medicine-card-price">¥5,000</p>
                        </div>
                    </div>
                    <div class="medicine-card">
                        <div class="medicine-card-top">
                            <p class="medicine-card-ttl">梅毒<span>（2週間）</span></p>
                        </div>
                        <div class="medicine-card-bot">
                            <p class="medicine-card-ttl -f-wht">飲み薬</p>
                            <p class="medicine-card-price">¥12,000</p>
                        </div>
                    </div>
                    <div class="medicine-card">
                        <div class="medicine-card-top">
                            <p class="medicine-card-ttl">梅毒<span>（4週間）</span></p>
                        </div>
                        <div class="medicine-card-bot">
                            <p class="medicine-card-ttl -f-wht">飲み薬</p>
                            <p class="medicine-card-price">¥24,000</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>


    <!-- reason -->
    <div class="reasons" id="reason">
        <div class="reasons-banner">
            <div class="container">
                <div class="reasons-banner-wrapper">

                    <img src="@@webRoot/assets/img/reason/reason-discount.svg" alt="継続率" class="img-fluid reasons-banner-dis" width="161" height="185" loading="lazy">

                    <div class="reasons-banner-cnt">
                        <picture>
                            <source media="(max-width:767px)" srcset="@@webRoot/assets/img/reason/reason-text-sp.svg">
                            <img src="@@webRoot/assets/img/reason/reason-text.svg" alt="イースト駅前クリニックが選ばれつニックが選ばれ続ける3つの理由" class="img-fluid" width="770" height="141" loading="lazy">
                        </picture>
                        <p class="reasons-banner-cnt-txt d-none d-md-block">※2019年1月～2019年12月に来院された方のうち、1年以内に2回目来院された方の割合 ※イースト駅前クリニック調べ</p>
                    </div>


                    <div class="reasons-banner-people">
                        <img src="@@webRoot/assets/img/reason/reason-ppl.png" alt="doctor" class="img-fluid" width="266"
                            height="339" loading="lazy">
                    </div>
                </div>
            </div>
        </div>
        <p class="reasons-banner-cnt-txt -sp d-block d-md-none">※2019年1月～2019年12月に来院された方のうち、<br>1年以内に2回目来院された方の割合 ※イースト駅前クリニック調べ</p>
        <div class="reasons-wrapper">
            <div class="reasons-row">
                <div class="reasons-img">
                    <img src="@@webRoot/assets/img/reason/reason-img1.jpg" alt="予約不要" class="img-fluid" width="600"
                        height="320" loading="lazy">
                </div>
                <div class="reasons-info">
                    <span class="reasons-label">Reason 1</span>

                    <div class="reasons-card">
                        <h2 class="reasons-card-heading"><span>予約不要</span></h2>
                        <p class="reasons-card-info">事前のご予約は不要でご来院いただけるので、仕事が早く終わった日やスキマ時間でご来院いただけます。</p>
                    </div>
                </div>
            </div>

            <div class="reasons-row">
                <div class="reasons-img">
                    <img src="@@webRoot/assets/img/reason/reason-img2.jpg" alt="駅チカの好立地" class="img-fluid" width="600"
                        height="320" loading="lazy">
                </div>
                <div class="reasons-info">
                    <span class="reasons-label">Reason 2</span>

                    <div class="reasons-card">
                        <h2 class="reasons-card-heading"><span>駅チカの好立地</span></h2>
                        <p class="reasons-card-info">最寄駅から徒歩4分と抜群のアクセス。</p>
                    </div>
                </div>
            </div>

            <div class="reasons-row">
                <div class="reasons-img">
                    <img src="@@webRoot/assets/img/reason/reason-img3.jpg" alt="即日検査・即日治療" class="img-fluid" width="600"
                        height="320" loading="lazy">
                </div>
                <div class="reasons-info -lg">
                    <span class="reasons-label">Reason 3</span>

                    <div class="reasons-card">
                        <h2 class="reasons-card-heading"><span>即日検査・即日治療</span></h2>
                        <p class="reasons-card-info">即日検査・即日治療で迅速・効率的に<br class="d-none d-md-block">性病対策を。</p>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!-- CTA -->
    <div class="cta">
        <div class="cta-wrapper">
            <div class="container">
                <div class="cta-box">
                    <div class="cta-ttl">
                        <p class="cta-ttl-left">
                            <span class="cta-ttl-fortytwo">診療</span>
                            <span class="cta-ttl-thirtyfive">や</span>
                            <span class="cta-ttl-fortytwo">治療</span>
                            <span class="cta-ttl-thirtyfive">に関する</span>
                        </p>
                        <p class="cta-ttl-right">
                            <span class="cta-ttl-fortyfour">ご不安な事</span>
                            <span class="cta-ttl-thirtysix">など</span>
                        </p>
                    </div>
                    <p class="cta-ttl-sub">ご相談ください</p>
                    <a href="tel:03-3837-1880" class="contact-comp">
                        <div class="polygon-red">
                            <span>予約</span>
                            <span>不要</span>
                        </div>
                        <div class="contact-flex">
                            <div class="contact-phone">
                                <img src="@@webRoot/assets/img/phone-icon.svg" class="img-fluid" height="29" width="29"
                                    alt="phone" loading="lazy">
                                <p class="contact-phone-txt">電話相談</p>
                            </div>
                            <p class="contact-num">03-3837-1880</p>
                        </div>
                    </a>
                    <div class="cta-offday-days">
                        <p class="cta-offday -left">
                            <span>月・火・金曜日</span>
                            <span>10:00～13:30/15:30～19:00</span>
                        </p>
                        <p class="cta-offday -right">
                            <span>日曜日</span>
                            <span>10:00 ～ 17:00</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- PROFILE -->
    <div class="profile">
        <div class="container">
            <h2 class="heading-primary"><span>Profile</span>院長プロフィール</h2>
          <div class="profile-wrap">
            <div class="profile-left">
              <div class="profile-person">
                <img src="@@webRoot/assets/img/profile/profile-person.png" class="img-fluid" height="213" width="226" alt="上野院 院長" loading="lazy">
              </div>
              <h2 class="profile-ttl">上野院 院長<span>千葉 岳</span></h2>
            </div>
            <div class="profile-right">
              <p class="profile-txt">
                <span>2000年03月</span>
                <span>早稲田大学卒業</span>
              </p>
              <p class="profile-txt">
                <span>2015年03月</span>
                <span>東海大学医学部卒業</span>
              </p>
              <p class="profile-txt">
                <span>2015年04月</span>
                <span>順天堂大学病院初期研修</span>
              </p>
              <p class="profile-txt">
                <span>2017年04月</span>
                <span>大久保病院勤務</span>
              </p>
              <p class="profile-txt">
                <span>2021年06月</span>
                <span class="lh">イースト駅前クリニック<br class="d-block d-sm-none">
                  上野院院長就任</span>
              </p>
            </div>
          </div>
        </div>
      </div>

    <!-- FLOW -->
    <div class="flow">
        <div class="container">
            <h2 class="heading-primary"><span>Flow</span>治療の流れ</h2>
            <div class="flow-row">
                <div class="flow-row-wrapper">
                    <span class="flow-num">1</span>

                    <div class="flow-col">
                        <div class="flow-box">
                            <p class="flow-txt">予約不要なので<br class="d-none d-md-block">下記時間帯に<br class="d-none d-md-block">直接ご来院ください</p>
                        </div>
                        <div class="flow-desc">
                            <p class="flow-ttl">上野院　性病受付</p>
                            <p class="flow-detail">月・火・金曜日：<br class="d-none d-md-block">10:00～13:30/15:30～19:00<br>日曜日：10:00～17:00</p>
                        </div>
                    </div>
                </div>

                <div class="flow-row-wrapper">
                    <span class="flow-num">2</span>
                    <div class="flow-col">
                        <div class="flow-box">
                            <p class="flow-txt">問診表の記入</p>
                        </div>
                        <div class="flow-desc">
                            <p class="flow-detail">どのような検査をした方が<br class="d-none d-md-block">よいかわからないという<br class="d-none d-md-block">場合はこちらで<br class="d-none d-md-block">ご相談ください。</p>
                        </div>
                    </div>
                </div>

                <div class="flow-row-wrapper">
                    <span class="flow-num">3</span>
                    <div class="flow-col">
                        <div class="flow-box">
                            <p class="flow-txt">医師の診療・検査</p>
                        </div>
                        <div class="flow-desc">
                            <p class="flow-detail">医師が丁寧にご説明いたします。<br class="d-none d-md-block">検査によっては即日結果が<br class="d-none d-md-block">でるため、その日のうちに<br class="d-none d-md-block">治療に移ることができます。</p>
                        </div>
                    </div>
                </div>

                <div class="flow-row-wrapper">
                    <span class="flow-num">4</span>
                    <div class="flow-col">
                        <div class="flow-box -noarrow">
                            <p class="flow-txt">治療の実施</p>
                        </div>
                        <div class="flow-desc">
                            <p class="flow-detail">検査の結果を受けて、<br class="d-none d-md-block">適切な治療を実施します。</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

   <!-- ABOUT -->
   <div class="about" id="about">
        <div class="container">
            <h2 class="heading-primary"><span>About</span>クリニック紹介</h2>
            <div class="about-wrap">
                <div class="about-content">
                    <table>
                        <tr>
                            <th>最終受付<br class="d-block d-md-none">時間</th>
                            <td>初診受付：終了時間の30分前<span class="d-inline-block d-md-none">／</span><br class="d-md-inline-block d-none">再診受付：終了時間の10分前</td>
                        </tr>
                        <tr>
                            <th>月・火・<br class="d-block d-md-none">金曜日</th>
                            <td>10:00 ～ 14:30<br class="d-block d-md-none"> <span class="d-md-inline-block d-none">/</span> 15:30 ～ 20:00</td>
                        </tr>
                        <tr>
                            <th>土・日・<br class="d-block d-md-none">祝日</th>
                            <td>10:00 ～ 18:00</td>
                        </tr>
                        <tr>
                            <th>休診日</th>
                            <td>水・木曜日</td>
                        </tr>
                        <tr>
                            <th>住所</th>
                            <td>〒110-0005<br>東京都台東区上野6-14-6 山田ビル7階</td>
                        </tr>
                        <tr>
                            <th>アクセス</th>
                            <td>JR各線…「JR上野駅 広小路口」から徒歩1分<br>
                                ※中央通りを渡ったさき右手の、1階に「椿屋珈琲」が入ったビルの7階になります。</td>
                        </tr>
                    </table>
                </div>
                <div class="about-map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3239.608926435441!2d139.77283257641793!3d35.71124012832403!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188e9e5f4d9fb1%3A0x746ec0ddeaf3ca8e!2z5pel5pys44CB44CSMTEwLTAwMDUg5p2x5Lqs6YO95Y-w5p2x5Yy65LiK6YeO77yW5LiB55uu77yR77yU4oiS77yWIOWxseeUsOODk-ODqyA36ZqO!5e0!3m2!1sja!2snp!4v1686631777721!5m2!1sja!2snp" width="375" height="436" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
            <div class="cta">
                <a href="tel:03-3837-1880" class="contact-comp">
                    <div class="polygon-red">
                        <span>予約</span>
                        <span>不要</span>
                    </div>
                    <div class="contact-flex">
                        <div class="contact-phone">
                            <img src="@@webRoot/assets/img/phone-icon.svg" class="img-fluid" height="29" width="29" alt="phone" loading="lazy">
                            <p class="contact-phone-txt">電話相談</p>
                        </div>
                        <p class="contact-num">03-3837-1880</p>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <!-- FAQ -->
    <div class="faq">
        <div class="container">
            <h2 class="heading-primary"><span>FAQ</span>よくあるご質問</h2>
            <div class="faq-wrapper">
                <div class="faq-box">
                    <div class="faq-qsn">
                        <span class="faq-icon">Q.</span>
                        <span class="faq-txt">ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダ</span>
                    </div>
                    <div class="faq-ans">
                        <span class="faq-icon">A.</span>
                        <span class="faq-desc">ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト</span>
                    </div>
                </div>
                <div class="faq-box">
                    <div class="faq-qsn">
                        <span class="faq-icon">Q.</span>
                        <span class="faq-txt">ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダ</span>
                    </div>
                    <div class="faq-ans">
                        <span class="faq-icon">A.</span>
                        <span class="faq-desc">ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト</span>
                    </div>
                </div>
                <div class="faq-box">
                    <div class="faq-qsn">
                        <span class="faq-icon">Q.</span>
                        <span class="faq-txt">ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダ</span>
                    </div>
                    <div class="faq-ans">
                        <span class="faq-icon">A.</span>
                        <span class="faq-desc">ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト</span>
                    </div>
                </div>
                <div class="faq-box">
                    <div class="faq-qsn">
                        <span class="faq-icon">Q.</span>
                        <span class="faq-txt">ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダ</span>
                    </div>
                    <div class="faq-ans">
                        <span class="faq-icon">A.</span>
                        <span class="faq-desc">ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト</span>
                    </div>
                </div>
            </div>
            <div class="faq-btn-box">
                <a href="#" class="faq-btn">性病治療についてのQ&A集</a>
            </div>
        </div>
    </div>

    <!-- CTA -->
    <div class="cta">
        <div class="cta-wrapper">
            <div class="container">
                <div class="cta-box">
                    <div class="cta-ttl">
                        <p class="cta-ttl-left">
                            <span class="cta-ttl-fortytwo">診療</span>
                            <span class="cta-ttl-thirtyfive">や</span>
                            <span class="cta-ttl-fortytwo">治療</span>
                            <span class="cta-ttl-thirtyfive">に関する</span>
                        </p>
                        <p class="cta-ttl-right">
                            <span class="cta-ttl-fortyfour">ご不安な事</span>
                            <span class="cta-ttl-thirtysix">など</span>
                        </p>
                    </div>
                    <p class="cta-ttl-sub">ご相談ください</p>
                    <a href="tel:03-3837-1880" class="contact-comp">
                        <div class="polygon-red">
                            <span>予約</span>
                            <span>不要</span>
                        </div>
                        <div class="contact-flex">
                            <div class="contact-phone">
                                <img src="@@webRoot/assets/img/phone-icon.svg" class="img-fluid" height="29" width="29"
                                    alt="phone" loading="lazy">
                                <p class="contact-phone-txt">電話相談</p>
                            </div>
                            <p class="contact-num">03-3837-1880</p>
                        </div>
                    </a>
                    <div class="cta-offday-days">
                        <p class="cta-offday -left">
                            <span>月・火・金曜日</span>
                            <span>10:00～13:30/15:30～19:00</span>
                        </p>
                        <p class="cta-offday -right">
                            <span>日曜日</span>
                            <span>10:00 ～ 17:00</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

@@include('@@webRoot/parts/footer.html')